@{
    Layout = "~/Views/Account/Index.cshtml";
}

@model MVC_reusability.Areas.Innbo.Models.AccountModel

@section ProductHeader {
    Innbo area
}

@section ProductDetails {
    <div class="innbo">
        <b>Adresse: </b> @Model.Adresse
    </div>
}