@{
    Layout = "~/Views/Account/ActionWithError.cshtml";
}

@model MVC_reusability.Areas.Motorvogn.Models.AccountModel

@section ProductHeader {
    Motorvognn area
}

@section ProductDetails {
<div class="motorvogn">
   <b>Regnr: </b> @Model.RegNr
</div>
}
